.bottomdiv {
  padding: 10px;
}
.bottomdiv button {
  font-size: 12px;
  font-weight: 700;
}
.buttondiv {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
}
.rightbtn{
  border-radius: 0;
  color: #165C7D;
}
.leftbtn{
  color: white;
  border-color: #165C7D;
  background-color: #165C7D;
  border-radius: 0;
  margin-right: 10px;
}