<nav class="navbar ">
  <div class="container-fluid Bnav">
      <div >
          <h1><a class="navbar-brand">NOVA ADMISSÃO COOPERADO</a></h1>
          <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
      </div>
    
    <div class="d-flex rightdiv" >
      <a href="#"><i class="bi bi-bell fs-3 icon-bleu"></i></a>
      <button type="button" class="btn btn-outline-primary Mybtn">VIACREDI</button>
      <a href="#"> <img class="rounded-circle imageprofile" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
      </a>
     
    </div>
  </div>
</nav>