<div class="Mbody">
    <div class="container-fluid mainbody">
        <div class="progress-container">
            <ul class="progress-steps">
                <li class="active">Início</li>
                <li>Documentos</li>
                <li>Dados cadastrais</li>
                <li>Admissão</li>
        </ul>
        </div>
        <div class="searchPart">
            <div class="centerdiv">
                <h3>Informe o CPF do futuro cooperado (a)</h3>
                <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente. <br>Digite apenas os números (sem pontos ou traços).</p>
                <h3>CPF</h3>
                <div class="searchdiv">
                    <input #cpfInput [(ngModel)]="cpfValue" type="text" aria-label="CPF" placeholder="111.111.111-11" maxlength="11" class="form-control Sinput" (input)="onInputChange(cpfInput.value)" (keyup)="numericOnly($event)">
                    <button type="button" (click)="verifyCpf(cpfInput.value)" class="btn btn-primary">Consultar por CPF</button>
                </div>
                <br>
            </div>
              
            <span>
                <app-consult-document></app-consult-document>
            </span>
        </div>
    </div>
    <div class="bottomdiv">
        <div class="Buttondiv">
            <button type="button" class="btn btn-primary rightbtn">Iniciar nova admissão        </button>
            <button type="button" class="btn btn-outline-primary leftbtn">Dicas para abertura da conta  </button>
        </div>
    </div>
</div>