.Sidbar{
  position: relative;
    background-color: #165C7D;
    height: auto;
    min-height: 100svh;
    margin-bottom: 0cap;
}

.icon-white{
    color: white;
}

.icon-gray{
  color: gray;
}

.bg-side {
  background-color: #165C7D;
}
